extends layout-deploy

block scripts
  - if (user.authorized && wmsg)
    script(type='text/javascript')
      $(function() { dreadNow() });

block title
  h1 #{data.stack.name}:#{data.region.name}

block upnav
  a(href='/') &larr; back to #{env}

block content
  - if (user.authorized)
    - if (wmsg)
      div#dread-now.modal.fade(tabindex="-1", role="dialog")
        div.modal-dialog(role="document")
          div.modal-content
            div.modal-header
              a(href='#').close &times;
              h3.modal-title Dread Now
            div.modal-body
              !{helpers.markdown.toHTML(wmsg)}
            div.modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal")#fearfull Close
              button.btn.btn-primary(type="button")#fearless Deploy

    form(method='post', action='/stacks/#{data.stack.name}/regions/#{data.region.name}')#deploy-form
      p
        input(type='text', name='to_revision', size='40', value='#{data.stack.latest_revision}')#to_revision.full_hash
      p !{helpers.buildDiffSegment(data.stack.github_href, data.region.deployed_revision, data.stack.latest_revision)}
      p
        input(type='hidden', name='ack_warning', value='#{wmsg ? "false" : "true"}')#wack
        input(type='submit', value='Deploy').btn.btn-success.btn-lg

  if data.deployments.length === 0
    p No Deployments
  else
    table.table
      thead
        tr
          th \#
          th Time
          th User
          th Revisions
          th Result
      tbody
      - each deployment in data.deployments
        tr
          td
            a(href='/stacks/#{data.stack.name}/regions/#{data.region.name}/deployments/#{deployment.name}') #{deployment.name}
          td #{helpers.prettyTimeSince(deployment.time)}
          td #{deployment.user}
          td !{helpers.buildDiffSegment(data.stack.github_href, deployment.from_revision, deployment.to_revision)}
          th
            - if (deployment.finished)
              - if (deployment.success)
                span.label.label-success Success
              - else
                span.label.label-danger Failed
            - else
              span.label.label-primary In Progress...
