!!!5
html(lang='en')
  head
    title #{title}

    link(rel='stylesheet', href='/static/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/static/css/dreadnot.css', type='text/css')
    link(rel='icon', type="image/png", href='/static/dreadnot.png')

    script(src='/static/js/jquery-1.7.0.min.js')
    script(src='/static/js/bootstrap-modal.js')
    script(src='/static/js/ansi_up.js')
    script(src='/static/js/dreadnot.js')
    block scripts

  body
    div.topbar
      div.fill
        div.container
          a(href='/').brand #{title}
          ul
            block topnav
              li
                a(href='/') Deploy
              li
                a(href='/warning') Warning Message
          p.pull-right
            - if (!user)
              | Not signed in
            - else if (user.authorized)
              | Logged in as #{user.name},
              a(href='/logout') log out
            - else
              a(href='/login?next=#{url}') Log in

    div.container
      div.content
        div.page-header
          block title
            h1 #{data.name}
          block upnav

        - if (emsg)
          div.alert-message.error
            p #{emsg}

        block warning
          - if (user && wmsg)
            div.alert-message.block-message
              !{helpers.markdown.toHTML(wmsg)}

        block content
