!!!5
html(lang='en')
  head
    title #{title}

    link(rel='stylesheet', href='#{data.urlPrepend}/static/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='#{data.urlPrepend}/static/css/dreadnot.css', type='text/css')
    link(rel='icon', type="image/png", href='#{data.urlPrepend}/static/dreadnot.png')

    script(src='#{data.urlPrepend}/static/js/jquery-1.7.0.min.js')
    script(src='#{data.urlPrepend}/static/js/bootstrap-modal.js')
    script(src='#{data.urlPrepend}/static/js/dreadnot.js')
    block scripts

  body
    div.topbar
      div.fill
        div.container
          a(href='#{data.urlPrepend}/').brand #{title}
          ul
            block topnav
              li
                a(href='#{data.urlPrepend}/') Deploy
              li
                a(href='#{data.urlPrepend}/warning') Warning Message
          p.pull-right
            - if (!user)
              | Not signed in
            - else if (user.authorized)
              | Logged in as #{user.name},
              a(href='#{data.urlPrepend}/logout') log out
            - else
              a(href='#{data.urlPrepend}/login?next=#{url}') Log in
    
    div.container
      div.content
        div.page-header
          block title
            h1 #{data.name}
          block upnav

        - if (emsg)
          div.alert-message.error
            p #{emsg}

        block warning
          - if (user && wmsg)
            div.alert-message.block-message
              !{helpers.markdown.toHTML(wmsg)}

        block content
